/* Main stylesheet for Tea Cozy, project for Codecademy
   Unit 4, days 9-13
   J. Stuart Harris
 */

/* General style code for the entire website - defaults
 */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 90%;
  margin: 0 0;
}

h2, h3, h4 {
  text-align: center;
}

figcaption {
  text-align: center;
}

header {
  padding: 0 30px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: black;
  border-bottom: 1px solid seashell;
  margin: 0;
}

#menulogo img {
  height: 50px;
  padding: 9px 0;
}

header a {
  color: seashell;
  text-decoration: underline;
}

header nav {
  font-size: 24px;
  padding-right: 30px;
}

header nav span {
  padding: 0 10px;
}

/* This section is for the Mission statement block
 */

#mission {
  display: flex;
  justify-content: center;
  top: 75px;
}

#mission div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

#mission div h2 {
  display: block;
  top: 50px;
  color: seashell;
  background-color: black;
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

#mission div h4 {
  display: block;
  top: 80px;
  color: seashell;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

/* Featured tea section (Tea of the month)
   This consists of 5 images, 3 on the first row and two on the second row.
   Images are centered on both axes and are 200px high X 300px wide.
 */
 #featured {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   padding: 50px 0;
 }

figure {
  margin: 10px 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  padding: 10px 0;
}

 #featured div {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   width: 1000px;
   background-color: black;
 }

 #featured div h2,
 #featured div h4{
   display: block;
   width: 100%;
 }

 #featured div figure img {
   height: 200px;
   width: 300px;
 }


/* Store Locations subsection
 */
#locations {
  display: flex;
  justify-content: center;
  margin: 0;
}

#locations div{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  background-image: url("../images/img-locations-background.jpg");
  width: 1200px;
  /* NOTE: The spec gives a height of 500, which doesn't match the picture.
     To match the picture use a height of about 570px.
   */
  height: 500px;
}

#locations div h2 {
  text-align: center;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0;
}

#locations div span {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: black;
  text-align: center;
  padding: 10px;
  margin: 0 20px;
  opacity: 1;
}

#locations div span span {
  text-align: center;
}


/* Footer subsection
 */
footer {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  margin: 0;
}

footer div {
  height: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

footer div h2 {
  margin: 0 0 15px 0;
}

.copyright {
  text-align: left;
  margin: 0 0 40px 20px;
}
