/* Main stylesheet for Tea Cozy, project for Codecademy
   Unit 4, days 9-13
   J. Stuart Harris
 */

/* General style code for the entire website - defaults
 */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 90%;
  margin: 0 0;
}

header {
  padding: 0 30px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: black;
  border-bottom: 1px solid seashell;
  margin: 0;
}

#menulogo img {
  height: 50px;
  padding: 9px 0;
}

header a {
  color: seashell;
  text-decoration: underline;
}

header nav {
  font-size: 24px;
  padding-right: 30px;
}

header nav span {
  padding: 0 10px;
}

section {
  position: relative;
  top: 75px;
}

section img {
  color: white;
  width: 400px;
}

/* This section is for the Mission statement block
 */

#mission {
  display: flex;
  justify-content: center;
}

#mission div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

#mission div h2 {
  display: block;
  top: 50px;
  color: seashell;
  font-size: 40px;
  text-align: center;
  background-color: black;
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

#mission div h4 {
  display: block;
  top: 80px;
  color: seashell;
  font-size: 20px;
  text-align: center;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

/* Featured tea section (Tea of the month)
   This consists of 5 images, 3 on the first row and two on the second row.
   Images are centered on both axes and are 200px high X 300px wide.
 */


/* Store Locations subsection
 */
#locations {
  background-image: url("../images/img-locations-background.jpg")
  width: 100%
  height: 300px;
}

/* Footer subsection
 */
